<template name="nav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-nav flex-fill">
            <a class="nav-item nav-link text-white" href="/">Accueil</a>
            <a class="nav-item nav-link text-white" href="/messages">Messages</a>
            <a class="nav-item nav-link text-white" href="/nvl_art">Nouvelle Article</a>
            <a class="nav-item nav-link text-white" href="/membres">Membres</a>
        </div>

        <div class="navbar-nav">
            <a class="nav-item nav-link text-white" href="/profil">Profil</a>
            {{> logout}}
        </div>
    </nav>

</template>